{% block content %}
<p></p>
<h2>Tarifas</h2>
<p></p>
<div class="row">
  <div class="span7">&nbsp;</div>
  <div class="span2">
  <div class="btn_group">
	  <button class="btn contentLink" data-action="_tarifas_new">Crear</button>
	  <button class="btn contentLink">Borrar</button>
	</div>
</div>
</div>
<div class="row">&nbsp;
	</div>
{% include 'ErosExtranetBundle:Mercado:include/tarifas.inc.html.twig' %}
{% endblock %}
