<ul class="nav nav-list">
  <li>
	<a href="#">Notificaciones</a>
  </li>
  <li class="active">
	<a href="#">Datos</a>
  </li>
  <li>
	<a href="#">Clientes</a>
  </li>
  <li>
	<a href="#">Mensajes</a>
  </li>
   <li>
	<a href="#">Configuracion</a>
  </li>
</ul>
