	<ul class="nav nav-list">
	  <li class="active">
		<a href="#">Catalogo</a>
	  </li>
	  <li>
		<a href="#">Promociones</a>
	  </li>
	  <li>
		<a href="#">Eventos</a>
	  </li>
	   <li>
		<a href="#">Estadisticas</a>
	  </li>
	</ul>