	<ul class="nav nav-list menu"  id="Administracion_Menu" style="display:none">
	  <li class="active">
		<a href="#" data-action="_ventas_list">Ventas</a>
	  </li>
	  <li>
		<a href="#" data-action="_compras_list">Compras</a>
	  </li>
	   <li>
		<a href="#" data-action="_pedidos_list">Pedidos</a>
	  </li>
	   <li>
		<a href="#">Estadisticas</a>
	  </li>
	</ul>