<ul class="nav nav-list menu"  id="Perfil_Menu" style="display:block">
  <li class="active">
	<a href="{{ path('_notificaciones')}}">Notificaciones</a>
  </li>
  <li>
	<a href="#">Datos</a>
  </li>
  <li>
	<a href="{{ path('_clientes_list')}}">Clientes</a>
  </li>
  <li>
	<a href="#">Mensajes</a>
  </li>
   <li>
	<a href="#">Configuracion</a>
  </li>
</ul>
