<div class="nav nav-list" id="Mercado_Menu" style="margin-top:25%;display:none;">
  <div>
    <input type="text" id="busquedaArticulo" placeholder="Busqueda..." value="" style="width:75%;">
    <input type="button" id="btnBusquedaArticulo" class="btn2" value="Busqueda">
  </div>
  <div class="accordion-sin-js">
    <div class="accordion-group-sin-js">
        <div id="categorias_menu">
    {% render "ErosFrontendBundle:Maestros:menuCategorias" %}
      </div>
    </div>
      <div id="subcategorias_menu" class="accordion-group-sin-js">
  
      </div>
    </div>
</div>