	<ul class="nav nav-list menu"  id="Promociones_Menu" style="display:none">
	  <li class="active">
		<a href="{{ path('_promociones_list')}}">Listado</a>
	  </li>
	  <li>
		<a href="{{ path('_promociones_add')}}">Crear</a>
	  </li>
	  <li>
		<a href="#">Mis Promociones</a>
	  </li>
	</ul>