<center>
			<!-- tables inside this DIV could contain drag-able content  -->
				<table class="table table-striped table-bordered table-condensed">
					<tbody>
						<tr>
							<td>Articulo</td>
							<td>Cliente</td>
						</tr>
						{% set promocion = 0 %}
						{% for cliente in clientes %}
						<tr class="rl">
							<td><label id="lblCliente{{cliente.id}}">{{cliente.id}}</label></td>
							<td><label id="lblNombre{{cliente.id}}">{{cliente.username}}</label></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
</center>

