{% block content %}
<ul class="left_menu">
		{% set cont = 1 %}
		{% for item in items %}
			{% if cont%2 == 0 %}
				<li class="odd"><a href="services.html">{{ item.SubCategoria }}</a></li>
			{% else %}
				 <li class="even"><a href="services.html">{{ item.SubCategoria }}</a></li>
			{% endif %}
		{% set cont = cont + 1 %}
		{% endfor %}
        </ul> 
{% endblock %}
